# ansible.cfg

[defaults]
# Point to the inventory file in the private repository
inventory = ../homelab-private/inventory

# Path to our roles directory
roles_path = ./roles

# General performance and UX settings
forks = 10
host_key_checking = False

