#################################################################
#   Hostname.....: {{ ansible_hostname }}
#   Distribution.: {{ ansible_distribution }} {{ ansible_distribution_version }}
#   IP Address...: {{ ansible_default_ipv4.address }}
#
#   This system is managed by Ansible.
#################################################################